.place__paragraph{
margin: 0;
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 163%;
color: #FFFFFF;
margin-bottom: 26px;
}
@media screen and (max-width: 767px) {
    .place__paragraph {
      font-size: 16px;
    }
  }