.lead__caption {
  margin:  8px 0 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 140%;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (max-width: 1023px) {
  .lead__caption {
    margin:  8px 0 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .lead__caption {
    margin:  8px 0 0 16px;
  }
}